<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Albums</title>
    </head>
  <body>
    <h1>Add New Album</h1>
    <div>
    <form action ="/albums" method="POST">
        <p>
        <label for="title"> Album Title</label>
        <br>
        <input type="text" name="title" id="title">
        </p>
        <p>
        <label for="release_year"> Release Year</label>
        <br>
        <input type="text" name="release_year" id="release_year">
        </p>
        <label for="artist_id"> Artist ID</label>
        <br>
        <input type="Integer" name="artist_id" id="artist_id">

        <!-- <select name="artist_id" id="artist_id"> 
            <option value="1">Pixies</option> 
            <option value="2">Abba</option> 
            <option value="3">Taylor Swift </option> 
            <option value="4">Nina Simone</option> 
        </select> -->
      

        </p>
        <input type="submit" value="Add Album">
    </form>
    </div>
  </body>
</html>