<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Artist</title>
    </head>
  <body>
    <h1>Add New Artist</h1>
    <div>
    <form action ="/artists" method="POST">
        <p>
        <label for="name"> Band Name</label>
        <br>
        <input type="text" name="name" id="name">
        </p>
        <p>
        <label for="genre"> Genre</label>
        <br>
        <input type="text" name="genre" id="genre">
        </p>

        <!-- <select name="artist_id" id="artist_id"> 
            <option value="1">Pixies</option> 
            <option value="2">Abba</option> 
            <option value="3">Taylor Swift </option> 
            <option value="4">Nina Simone</option> 
        </select> -->
      

        </p>
        <input type="submit" value="Add Album">
    </form>
    </div>
  </body>
</html>